<header>
  <mat-toolbar color="primary">
    <span>EmployEase</span>
    <span class="example-spacer"></span>

    <button mat-raised-button (click)="openFormDialog()">Add Employee</button>
  </mat-toolbar>
</header>
<div class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.firstName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.lastName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dob">
        <mat-header-cell *matHeaderCellDef>DOB</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.dob | date }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="education">
        <mat-header-cell *matHeaderCellDef>Education</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.education }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.company }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="salary">
        <mat-header-cell *matHeaderCellDef>Salary</mat-header-cell>
        <mat-cell *matCellDef="let row"
          >{{ row.salary | currency : "INR" }}&nbsp;LPA</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="experience">
        <mat-header-cell *matHeaderCellDef>Experience</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.experience }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon> delete </mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
